<div class="page dashboard-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <app-portfolio-value-card></app-portfolio-value-card>
            </div>
            <div class="col-sm-4">
                <app-redeem-voucher-card></app-redeem-voucher-card>
            </div>
            <div class="col-sm-4">
                <app-bonus-value-card></app-bonus-value-card>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <app-welcome-card></app-welcome-card>
            </div>
            <div class="col-sm-4">
                <app-leaderboard-card></app-leaderboard-card>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <app-announcements-card></app-announcements-card>
            </div>
        </div>
    </div>
</div>